.view {
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.view-list {
    display: flex;
    flex-wrap: wrap;

    figure {
        height: 33vw;
    }
}

.folder {
    flex: 1 0 33%;
    width: 33%;
    margin: 0;
}

.folder-caption {
    display: inline-block;
    max-width: 90%;
}

.thumbnail {
    flex: 1 0 33%;
    width: 33%;
    margin: 0;
    background-image: linear-gradient(155deg, white, rebeccapurple);

    a {
        display: block;
        opacity: 0;
        max-width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        transition: opacity .5s;

        &.show {
            opacity: 1;
        }
    }
}
