#view-image-modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    width: 100vw;
    margin: 0;
    padding: 0;

    figure {
        height: 100vh;
        margin: 0;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: black;
    }

    button {
        position: absolute;
        left: 0;
        top: 0;
    }
}
